/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */
  .page-type-product-display	.commerce-product-field-field-sizing-information  
  {
  		clear: left;
  	}
 .page-type-product-display .commerce-product-field-field-image
 {
	float: left;
	margin-right: 50px; 	
 	}
 	
 	.form-item-attributes-field-size label
 	{
 		display: inline;
 	}
.page-type-product-display .field-type-image img
{
	padding:0;
}

.block-region-header #phone
{
	font-size: 19px;
	font-weight: bold;
	color: #005EAB;
	margin-top: 35px;	
	display: block;
	text-align: right;
	float:right;
	margin-left:70px;
}


/** fix for at-commerce  **/

fieldset.checkout-buttons .checkout-cancel, fieldset.checkout-buttons .checkout-back {
  float: none;
  margin:0 5px;
}
.page-checkout fieldset#edit-buttons input {
  margin:0 5px;
}


/** move slideshow banners  **/

.slideshow-caption
{
	text-align:right;
	right:0;
}


